<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Coding Tutorials</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">Tutoriales</a>
                </li>
                <li class="nav-item">
                    <a href="" ng-click="$ctrl.irUrl('profile')" class="nav-link">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a href="" ng-click="$ctrl.logout()" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <!--Para administrados-->
    <div ng-show="$ctrl.admin" class="row pt-4">
        <div class="col-md-12">
            <p class="display-6 text-white">Administrador</p>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
            <label for="categoria" class="form-label text-white m-0 align-self-center">Agregar Categoria</label>
        </div>
        <div class="col-md-5">
            <input type="text" style="text-transform: capitalize;" ng-model="$ctrl.nuevaCategoria" class="form-control">
        </div>
        <div class="col-md-2 p-0">
            <button class="btn btn-light" ng-click="$ctrl.agregarCategoria()">Agregar</button>
        </div>
    </div>

    <form class="form mt-4">
        <div class="form-group row">
            <label class="text-white col-md-2 col-form-label text-center m-0" for="searchTutorial">Buscar Tutorial</label>
            <div class="col-md-6">
                <input class="form-control rounded" ng-model="$ctrl.inputSearch" type="search" placeholder="palabra clave, categoria, usuario, etc" name="searchTutorial" id="searchTutorial">
            </div>
            <button ng-click="$ctrl.buscar()" class="btn btn-light col-md-1" type="submit">Buscar</button>
            <button ng-click="$ctrl.buscarTutoriales()" class="btn btn-light col-md-1 ms-1 p-1" type="submit">Desfiltrar</button>
        </div>
    </form>
    
    <div class="row mt-4">
        <div class="col-md-2"> <!--estaba en 3-->
           <ul class="list-group">
               <li ng-repeat="cat in $ctrl.categorias" class="list-group-item">
                   <button class="btn" ng-class="{btnSelected: $ctrl.clicked == cat.id,btnNoSelected:$ctrl.clicked != cat.id}"  ng-click="$ctrl.filtrarPorCategoria(cat.id)" style="width: 100%; text-transform: capitalize; font-size: small;">{{cat.nombre}}</button>
                   <!--Administrador-->
                   <a ng-show="$ctrl.admin"  href ng-click="$ctrl.borrarCategoria(cat.id)" style="font-size: 12px; text-decoration: none;" class="m-0 d-flex justify-content-center">eliminar</a> 
               </li>
           </ul>
        </div>
        <div class="col-md-9">
            <div class="card mb-3" style="width: 34rem;" ng-repeat="tutorial in $ctrl.tutoriales track by $index">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-header row">
                            <div class="col-md-2 d-flex justify-content-center pe-0">
                                <img ng-src="{{tutorial.imagen_usuario}}" class="rounded-circle mt-1 align-self-center" style="width: 60px; height: 60px;" alt="img-perfil">
                            </div>
                            <div class="col-md-10 d-flex justify-content-start ps-0">                                
                                    <p class="align-self-center m-0" style="font-size: medium; text-transform: capitalize;">{{tutorial.nombre}} {{tutorial.apellido}}</p>
                            </div>
                            <!--Administrador-->
                            <a ng-show="$ctrl.admin" href ng-click="$ctrl.borrarTutorial(tutorial.id)" style="font-size: 15px; text-decoration: none;" class="m-0 d-flex justify-content-end">eliminar</a> 
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-9 ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="m-0">Tutorial</p>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-md-12">
                                            <h3 class="card-title m-0" style="font-size: 1.5rem; text-transform: capitalize;" >{{tutorial.titulo}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-center">
                                    <img ng-src="{{tutorial.imagen}}" class="img-thumbnail rounded align-self-center" alt="img-tutorial" style="width: 100px; height: 100px;">
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-12 d-flex  flex-column justify-content-start">
                                    <p class="m-0">Descripcion:</p>
                                    <p class="mt-1" style="font-weight: 500; ">{{tutorial.descripcion}}</p>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-12">
                                    <p class="m-0" style="font-size: small;">Categoria: {{tutorial.categoria}}</p>
                                </div>  
                            </div>
                        </div>
                        <div class="card-footer row ">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12 d-flex align-items-center justify-content-between">
                                        <ul class="list-unstyled m-0">
                                            <!-- <li>Lenguaje: Python</li> -->
                                            <li>Cantidad de visitas: {{tutorial.visitas}}</li>
                                            <!-- <li>Comentarios: 3</li> -->
                                        </ul>
                                        
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <span ng-repeat="label in $ctrl.convertLabels(tutorial.etiquetas)" class="badge rounded-pill bg-info text-dark ms-1">{{label}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center">
                                <button ng-click="$ctrl.abrirTutorial(tutorial.id)" class="btn btn-secondary btn-sm align-self-center">Ver Tutorial</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--hasta aqui se tienen que repetir-->
        </div>
    </div>


      <!-- Modal para la foto principal del tutorial -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Cambio de categoria</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Existen tutoriales con la categoria que desea borrar, para ejecutar esta accion debe elegir una nueva categoria para reemplazarlas</p>
                <br>
                <label>Categorias: </label>
                <select ng-options="item.nombre for item in $ctrl.categoriaFiltrada track by item.id" ng-model="$ctrl.reemplazoCategorias.idNuevo" class="form-control rounded selectpicker" style="text-transform: capitalize;"></select>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="$ctrl.actualizarCategoriaTutoriales()">Reemplazar</button>
            </div>
          </div>
        </div>
      </div>



</div>

