<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Coding Tutorials</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">Tutoriales</a>
                </li>
                <li class="nav-item">
                    <a href="" ng-click="$ctrl.irUrl('profile')" class="nav-link">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a href="" ng-click="$ctrl.logout()" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form class="form mt-4">
        <div class="form-group row">
            <label class="text-white col-md-2 col-form-label text-center m-0" for="searchTutorial">Buscar Tutorial</label>
            <div class="col-md-6">
                <input class="form-control  rounded" type="search" placeholder="palabra clave, categoria, etc" name="searchTutorial" id="searchTutorial">
            </div>
            <button class="btn btn-light col-md-1" type="submit">Buscar</button>
            <button ng-click="$ctrl.buscarTutoriales()" class="btn btn-light col-md-1 mx-1" type="submit">Desfiltrar</button>
        </div>
    </form>
    
    <div class="row mt-4">
        <div class="col-md-2"> <!--estaba en 3-->
           <ul class="list-group">
               <li ng-repeat="cat in $ctrl.categorias" class="list-group-item"><button class="btn" ng-class="{btnSelected: $ctrl.clicked == cat,btnNoSelected:$ctrl.clicked != cat}"  ng-click="$ctrl.filtrarPorCategoria(cat)" style="width: 100%; text-transform: capitalize; font-size: small;">{{cat}}</button></li>
           </ul>
        </div>
        <div class="col-md-9">
            <div class="card mb-3" style="width: 34rem;" ng-repeat="tutorial in $ctrl.tutoriales track by $index">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-header row">
                            <div class="col-md-2 d-flex justify-content-center pe-0">
                                <img ng-src="{{tutorial.imagen_usuario}}" class="rounded-circle mt-1 align-self-center" style="width: 60px; height: 60px;" alt="img-perfil">
                            </div>
                            <div class="col-md-10 d-flex justify-content-start ps-0">                                
                                    <p class="align-self-center m-0" style="font-size: medium; text-transform: capitalize;">{{tutorial.nombre}} {{tutorial.apellido}}</p>
                            </div>
                            <!-- <div class="col-md-3 d-flex justify-content-center align-items-center">
                                
                            </div> -->
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-9 ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="m-0">Tutorial</p>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-md-12">
                                            <h3 class="card-title m-0" style="font-size: 1.5rem; text-transform: capitalize;" >{{tutorial.titulo}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-center">
                                    <img ng-src="{{tutorial.imagen}}" class="img-thumbnail rounded align-self-center" alt="img-tutorial" style="width: 100px; height: 100px;">
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-12 d-flex  flex-column justify-content-start">
                                    <p class="m-0">Descripcion:</p>
                                    <p class="mt-1" style="font-weight: 500; ">{{tutorial.descripcion}}</p>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-12">
                                    <p class="m-0" style="font-size: small;">Categoria: {{tutorial.categoria}}</p>
                                </div>  
                            </div>
                        </div>
                        <div class="card-footer row ">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12 d-flex align-items-center justify-content-between">
                                        <ul class="list-unstyled m-0">
                                            <!-- <li>Lenguaje: Python</li> -->
                                            <li>Cantidad de visitas: {{tutorial.visitas}}</li>
                                            <!-- <li>Comentarios: 3</li> -->
                                        </ul>
                                        
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <span ng-repeat="label in $ctrl.convertLabels(tutorial.etiquetas)" class="badge rounded-pill bg-info text-dark ms-1">{{label}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center">
                                <button ng-click="$ctrl.abrirTutorial(tutorial.id)" class="btn btn-secondary btn-sm align-self-center">Ver Tutorial</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--hasta aqui se tienen que repetir-->
        </div>
    </div>

</div>

