<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Coding Tutorials</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" ng-click="$ctrl.irUrl('home')" class="nav-link">Tutoriales</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a href="" ng-click="$ctrl.logout()" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-5  bg-white rounded">
            <div class="row">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <img ng-src="{{$ctrl.dataUsuario.imagen}}" class="rounded-circle mt-2 mb-2" style="width: 100px; height: 100px;" alt="img-perfil">
                </div>
                <div class="col-md-8 align-self-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="text-transform: capitalize;" class="mt-0 mb-1">{{$ctrl.dataUsuario.nombre}} {{$ctrl.dataUsuario.apellido}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class=" m-0">{{$ctrl.dataUsuario.descripcion}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 d-flex justify-content-end ">
                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="mt-1 text-decoration-none">Editar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 p-0">
            <h3 class="display-5 text-white">Mis tutoriales</h3>
            <button ng-click="$ctrl.irUrl('tutorial')" class="btn btn-light">Crear nuevo tutorial</button>
        </div>
    </div>

    <!--Mis tutoriales-->
    <div class="row mt-4">

        <div class="col-md-6" ng-repeat="tutorial in $ctrl.tutoriales"> <!--aqui va el repeat-->
            <div class="row d-flex justify-content-start mb-3">
                <div class="col-md-11">                                                                                                                                         
                    <div class="row rounded bg-white">
                        <div class="col-md-3">
                            <img ng-src="{{tutorial.imagen}}" class="img-fluid rounded m-2" alt="img-tutorial" style="width: 140px; height: 120px;">
                        </div>
                        <div class="col-md-6 align-self-center">
                            <h3>{{tutorial.titulo}}</h3>
                            <p class="m-0">Cantidad de visitas: 200</p>
                            <p class="m-0">Comentarios: 100</p>
                        </div>
                        <div class="col-md-3 d-flex justify-content-between align-self-end mb-1">
                            <a href="" ng-click="$ctrl.editarTutorial(tutorial.id)" class="text-decoration-none">Editar</a>
                            <a href="" ng-click="$ctrl.borrarTutorial(tutorial.id)" class="text-decoration-none">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


    <!--Modal for image-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>
                    <label for="fotoPerfil">Foto de perfil</label>
                    <input class="form-control" id="imgToLoad" type="file" name="fotoPerfil"  accept="image/*" id="imageFile">
                    <br>
                    <label class="form-label" for="Nombre">Nombre</label>
                    <input type="text" class="form-control"  ng-model="$ctrl.dataUsuario.nombre" style="width:50%"> <!--ver si combiene poner una copia de los datos-->
                    <br>
                    <label class="form-label" for="Nombre">Apellido</label>
                    <input type="text" class="form-control" ng-model="$ctrl.dataUsuario.apellido" style="width:50%">
                    <br>
                    <label class="form-label" for="Nombre">Descripcion</label>
                    <input type="text" class="form-control" ng-model="$ctrl.dataUsuario.descripcion" max="100">
                </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="$ctrl.cargarFoto()">Guardar</button>
            </div>
          </div>
        </div>
      </div>